$white: white;
$black: black;

$themeColorPrimary: #13324a;
$themeColorSecondary: #1665d8;
$themeColor3: #6758f3;

$bodyBgColorPrimary: #fbfbfd;

$textColorPrimary: #3e3f42;

$borderColorPrimary: #e2e5ed;
$boxShadowColorPrimary: #eaedf3;

$bgHoverColorPrimary: #24608e;
$bgHoverColorSecondary: #f6f9fd;

$textColorMuted: #9ea0a5;
$alertColorPrimary: #e6492d;

$effectSpeedFast: 350ms;
$effectSpeedNormal: 500ms;
$effectSpeedSlow: 900ms;

.fadeTextColorFast {
  -webkit-transition: color $effectSpeedFast ease;
  transition: color $effectSpeedFast ease;
}

.fadeBgColorFast {
  -webkit-transition: background-color $effectSpeedFast ease;
  transition: background-color $effectSpeedFast ease;
}

.fadeBorderColorFast {
  -webkit-transition: border-color $effectSpeedFast ease;
  transition: border-color $effectSpeedFast ease;
}

.displayFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flexAlignCenterCenter {
  @extend .displayFlex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flexPackCenter {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flexPackStart {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flexEndMid {
  @extend .displayFlex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flexStartTop {
  @extend .displayFlex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flexStartMid {
  @extend .displayFlex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flexDirectionColumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}